@model day05.Models.Fox

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <nav>
        <ul>
            <li>
                <a href=#>Information</a>
            </li>
        </ul>
    </nav>
    <main>
        <img src="~/img/greenfox.png" />

        <p>This is @Model.Name</p>
        <p>He currently lives on</p>
        <ul>
            @foreach (var food in Model.Foods)
            {
                <li>@food</li>
            }
        </ul>
        <p>He knows @Model.Tricks.Count() tricks.</p>
        <section class="tricks">
            <h2>Known Tricks</h2>
            
                @{
                    if (Model.Tricks.Count() > 0)
                    {
                        <ul>
                            @foreach (var trick in Model.Tricks)
                            {
                                <li>@trick</li>
                            }
                        </ul>
                    }
                    else
                    {
                        <p>@Model.Name doesn't know any tricks yet. Teach him some!</p>
                    }
                }
        </section>
    </main>
    
</body>
</html>
